.container_btn {
    position: relative;
    display: none;
    visibility: hidden;
}

.container_show_btn{
    display: flex;
    position: fixed;
    flex-direction: column;
    display: block;
    visibility: visible;
    bottom: 0;
    right: 0;
    margin-right: 0.625rem;
    opacity: 1;
    z-index: 100000;
    transition: .3s ease-in-out all;

 li   {
    padding-bottom: 2.5rem;
    text-align: center;

 }

.wp_active {
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.525));
}

.info_active_btn {
    font-size: 1.3rem;
    letter-spacing: 1px;
    background-color: #303450;
    font-family: var(--font-franklin);
    text-shadow: -1px 1px 0 rgba(185, 185, 185, 0.882);
    color: white;
    border-radius: 1.25rem;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    opacity: 1;
    transition: .4s all;
    cursor: pointer;
    outline: 3px solid white;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.525));
}
}

.info_active_btn:hover {
    font-size: 1.3rem;
    letter-spacing: 1px;
    background-color: #494d68;
    
}


@media (max-width:860px) {
    .container_btn {
        position: relative;
    }
    
    .container_show_btn{
        flex-direction: column;
        bottom: 1.25rem;
        right:10px;


    .wp_active {
        cursor: pointer;
    
        width: 4rem;
        height: 4rem;
        filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.525));
    }
    
    .info_active_btn {
        font-size: 1rem;
        letter-spacing: 1px;
        border-radius: 1.25rem;
        padding: 0.625rem;
        margin-bottom: 0.625rem;


    }
    
}
}

@media (max-width:750px) {
    .container_btn {
        position: relative;
    }
    
    .container_show_btn{
        flex-direction: column;
        bottom: 0;
        right: 0;
        margin-right:1rem;
        align-items: center;
        justify-content: center;
            
    
 li   {
    padding-bottom: 1.5rem;

 }    

    .wp_active {
    
        width: 4rem;
        height: 4rem;
    }
    
    .info_active_btn {
        font-size: 1rem;
        padding: 0.625rem;
        margin-bottom: 0.625rem;
    }
    
}
}



@media (max-width:576px) {
    .container_btn {
        position: relative;
    }
    
    .container_show_btn{
        flex-direction: column;
        bottom: 0;
        right: 0;
        margin-right:0.9375rem;
        align-items: center;
        justify-content: center;
            
    
 li   {
    padding-bottom: 1.5rem;
    text-align: center;
 }    

    .wp_active {
        cursor: pointer;
        margin-top: 2px;
        width: 4rem;
        height: 4rem;
    }
    
    .info_active_btn {
        font-size: 0.9rem;
        letter-spacing: 1px;
        color: white;
        border-radius: 1.25rem;
        padding: 0.625rem;
        margin-bottom: 0.0625rem;
    }
}
}

